html, body {
    height: 100%; /* 设置页面高度为100% */
    margin: 0; /* 去除默认边距 */
    display: flex;
    flex-direction: column; /* 让子元素垂直排列 */
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column; /* 保证内容区域与页脚的排列 */
    justify-content: space-between; /* 确保页脚和内容之间有空间 */
}

h2 {
    margin: 20px;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    width: auto;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    user-select: none;
}

th {
    background-color: #f2f2f2;
    text-align: center;
    vertical-align: middle;
}

#errorMsg {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: #4CAF50;
    border: none;
    color: white;
    border-radius: 10px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

.button-container {
    display: flex;
    flex-wrap: wrap; /* 允许换行 */
    justify-content: center; /* 按钮水平居中 */
    gap: 3px; /* 按钮之间的间距 */
    max-width: 400px; /* 限制最大宽度，防止按钮分散太开 */
}

.content-wrapper {
    flex: 1; /* 占据剩余空间 */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* 让内容紧贴顶部 */
    align-items: center;
}

.footer {
    position: relative;
    text-align: center;
    font-size: 13px;
    color: #555;
    margin-top: auto; /* 保证页脚在底部 */
}
